.technologies_ti {
  padding-top: 40px;
  padding-bottom: 30px;
}

.technologies__items > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 20px;
}

.technologies__items > ul> li>  img {
  width: 60px;
  height: 60px;
}

.technologies_list > li {
  padding-bottom: 5px;
  color: #ffffff;
}
