<div class="technologies">
  <div class="technologies__title">
    <h2 class="technologies_ti">Tecnologias Usadas</h2>
  </div>
  <div class="technologies__items">
    <ul>
      <li><img src="../../../assets/images/html-5.png" alt="HTML" /></li>
      <li><img src="../../../assets/images/css-3.png" alt="CSS" /></li>
      <li><img src="../../../assets/images/js.png" alt="JAVASCRIPT" /></li>
      <li><img src="../../../assets/images/c-sharp.png" alt="C#" /></li>
      <li><img src="../../../assets/images/icon_ruby.png" alt="C#" /></li>
      <li>
        <img
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg"
          alt="C#"
        />
      </li>
      <li>
        <img
          id="angular"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png"
          alt="ANGULAR"
        />
      </li>
    </ul>
  </div>
</div>
