.container__footer {
  margin-top: 0.6rem;
  padding: 1.5rem;
  color: var(--color-primary);
  background-color: var(--color-tertiary);
  text-align: center;
  font-family: var(--font-secondary);
  font-size: 1.0rem;
  font-weight: 400;
}
