<main class="presentation">
  <section class="presentation_content">
    <article class="presentation_text">
      <h1 class="presentation_title">Sobre mim</h1>
      <p class="presentation_description diff">
        Sou formada em Matemática e cheguei a ensinar por um ano, como não me
        identifiquei com a área comecei a transição de carreira, e o
        desenvolvimento de software foi uma descoberta em que venho a cada dia
        me apaixonando mais.
      </p>
      <p class="presentation_description diff">
        Atualmente sou estagiária em Engenharia de Software na FAST, uma
        incrível empresa que busca soluções para entregar com excelência.
      </p>
    </article>
  </section>

  <img
    class="presentation_img"
    src="./assets/images/Imagem.jpg"
    alt="Foto da Joana programando"
  />
</main>
