.header {
  padding: 4% 0% 0% 15%;
}

.header_menu {
  display: flex;
  gap: 105px;
}

.header_menu_link {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-tertiary);
  text-decoration: none;
}

.header_menu_link:hover {
  color: #007bff;
}

@media (max-width: 1200px) {
  .header {
    padding: 5%;
}

.header_menu {
    justify-content: center;
}
}

@media (max-width: 480px){
  /* mobile */
  .header_menu{
      gap: 50px;
  }
}
