<nav class="container__nav-bar">
  <div class="nav-bar__left">
    <img src="../../../assets/image/icon.png" alt="icon">
    <span>Aline Santana</span>
  </div>
  <div class="nav-bar__right">
    <a href="#">
      <span>Tecnologias</span>
    </a>
    <a href="#">
      <span>Projetos</span>
    </a>
    <a href="#">
      <span>Experiência</span>
    </a>
    <a href="https://github.com/alinesantana13" target="_blank">
      <img src="../../../assets/image/github.png" alt="GitHub">
    </a>
    <a href="https://www.linkedin.com/in/aline-santana-silva" target="_blank">
      <img src="../../../assets/image/linkedin.png" alt="Linkedin">
    </a>
  </div>
</nav>
