<main class="presentation">
  <section class="presentation_content">
    <article class="presentation_text">
      <h1 class="presentation_title">
        Desenvolvedora Fullstack
        <strong class="presentation_title_emphasis"
          >com um Frontend e Backend de qualidade!</strong
        >
      </h1>
      <p class="presentation_description">
        Olá! Aline Santana, desenvolvedora Fullstack com especialidade em HTML,
        CSS, JavaScript e Angular.
      </p>
    </article>

    <article class="presentation_links">
      <h2>Acesse minhas redes:</h2>
      <a
        class="presentation_link"
        href="https://github.com/alinesantana13"
        target="_blank"
      >
        <img src="../../../assets/images/github.png" alt="GitHub" />
        GitHub
      </a>
      <a
        class="presentation_link"
        href="https://www.linkedin.com/in/aline-santana-silva"
        target="_blank"
      >
        <img src="../../../assets/images/linkedin.png" alt="Linkedin" />
        Linkedin</a
      >
    </article>
  </section>
  <img
    class="presentation_img"
    src="../../../assets/images/Imagem.jpg"
    alt="Foto da Joana programando"
  />
</main>
