<main class="project">
  <section class="project_content">
    <article class="project_information">
      <div class="project_information_description">
        <h1 class="presentation_title">
          Projetos
          <strong class="presentation_title_emphasis"
            >desenvolvidos com diferentes tecnologias</strong
          >
        </h1>
        <app-technologies></app-technologies>
      </div>
      <img
        class="presentation_img"
        src="./assets/images/Imagem.jpg"
        alt="Foto da Joana programando"
      />
    </article>
    <article class="project_links">
      <div class="project_part">
        <a
          class="presentation_link"
          href="https://github.com/alinesantana13/api-monitoring-expenses"
          target="_blank"
          >API Monitoring Expenses
          <p class="presentation_description">
            Projeto sobre uma api de monitoramento financeiro, em que o usuário
            pode se cadastrar e adicionar as suas despesas.
          </p>
        </a>
        <a
          class="presentation_link"
          href="https://github.com/alinesantana13/CRUD-Task-LisT"
          target="_blank"
          >Crud Task List
          <p class="project_description">
            Neste CRUD é possível adicionar uma lista de tarefas, em que é
            possível colocar o status da tarefa.
          </p></a
        >
        <a
          class="presentation_link"
          href="https://github.com/marislaradev/Desafio-M05"
          target="_blank"
          >PDV
          <p class="project_description">
            Esse projeto foi criado em equipe, e trata-se de uma aplicação com
            variáveis funcionalidades para os clientes o qual pode consultar os
            produtos disponíveis.
          </p></a
        >
      </div>
      <div class="project_part">
        <a
          class="presentation_link"
          href="https://github.com/alinesantana13/api_delivery"
          target="_blank"
          >API Delivery
          <p class="project_description">
            Projeto de um delivery, em que o empresário pode cadastrar a sua
            loja e os seus produtos.
          </p>
        </a>
        <a
          class="presentation_link"
          href="https://github.com/alinesantana13/Desafio-Challenge-ONE"
          target="_blank"
          >Encriptador
          <p class="project_description">
            No projeto é possível seguindo as regras dadas encriptografar uma
            frase, e descriptografar.
          </p></a
        >
        <a
          class="presentation_link"
          href="https://github.com/alinesantana13/AtaWorkshop"
          target="_blank"
          >Ata Workshop
          <p class="project_description">
            Neste projeto o usuário pode se cadastrar, cadastrar um workshop ou
            selecionar um dos workshop listados para participar.
          </p></a
        >
      </div>
    </article>
  </section>
</main>
