.container__presentation {
  display: flex;
  flex-direction: row;
  height: 400px;
  background-color: #7fb0f4;
}

.presentation__text {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presentation__text > h1 {
  color: #fff;
}

.presentation__text > h1 > span {
  color: #e28691;
  font-weight: 500px;
}

.presentation__text > hr {
  color: #fff;
  width: 500px;
  margin-bottom: 10px;
}

.presentation__text > p {
  text-align: center;
  color: #fff;
}

.presentation__image {
  width: 300px;
  height: 300px;
  background-color: #e28691;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 300px;
  margin-top: 50px;
  border-width: 5px 5px 15px rgba(0, 0, 0, 0.5);;
}
.presentation__image > img {
  width: 200px;
  height: 200px;
  border-radius: 100px;

  opacity: 0.8;
}
